*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    overflow-x: hidden;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-image: url('https://i.pinimg.com/originals/09/eb/b8/09ebb822392045530431cf54a96a0cef.jpg');
    background-size: cover;
    background-position: center;
}

.signup-container{
    width: 70%;
    display: flex;
    justify-content: center;
}

.signup-form{
    display: flex;
    flex-direction: column;
    width: 450px;
    background-color: rgb(138, 134, 134);
    padding: 20px;
    border-radius: 10px;
}

.signup-form-message{
    text-align: center;
    width: 100%;
    background-color: red;
    margin-bottom: 20px;
}

.firstname-label,
.lastname-label,
.dob-label,
.gender-label,
.email-label,
.password-label{
    margin-bottom: 5px;
}

#firstname,
#lastname,
#gender,
#email,
#password{
    margin-bottom: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}

.signup-button{
    width: 50%;
    height: 30px;
    font-size: 20px;
    background-color: rgb(32, 190, 32);
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    align-self: center;
    cursor: pointer;
}

.signup-anchor-tag{
    color: white;
}

/*===========================================*/

@media (max-width: 550px)
{
    .signup-container{
        width: 95%;
    }

    .signup-form{
        width: 100%;
    }
}