{{#if user}}
<div class="homepage">
    <div class="homepage-head">
        <h2>Hi {{user.firstname}}.</h2>
        <h3>Account KYC Level : {{user.kyc_level}}</h3>
    </div>

    <div class="homepage-info">
        <h2>OUR STORY</h2>
        <p>
            Since our inception 25 years ago, Scope Technologies has been at the forefront of technology 
            innovation across 4 continents. Our journey began with a vision to revolutionise the way 
            businesses and technology interact, leading to safer, smarter, and more efficient technology solutions. 
        </p>

        <p>
            Over the years, we've grown from a bold idea into a global leader in connected technology solutions, 
            consistently pushing the boundaries of what's possible in telematics. Our story is one of continuous 
            growth, learning, and adaptation, driven by our passion for technology and our commitment to our clients.
        </p>
    </div>
</div>
{{/if}}