<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://www.freepnglogos.com/uploads/s-letter-logo-png-19.png">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="settings.css">
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <h1>SCOPE TECHNOLOGIES</h1>
        <h3><a href="/settings">Settings</a> or <a href="/logout">Logout</a></h3>
    </nav>
    {{{body}}}
</body>
</html>