body{
    padding: 0;
    margin: 0;
}

#sixth-container{
    background-color: rgb(96, 91, 91);
    width: 100vw;
    height: auto;
    position: relative;
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
}

#subsix{
    display: flex;
    flex-direction: column;
}
.subsix-anchor{
    text-decoration: none;
    color: black;
}
.subsix-h3{
    font-size: 17px;
}
.subsix-ul{
    margin: 0;
    padding: 0;
}
.subsix-li{
    margin-bottom: 15px;
    color: grey;
    font-size: 14px;
    color: black;
    list-style: none;
}
#subsubsix{
    display: flex;
    width: 100%;
}
#last1{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: black;
}
#last2{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: black;
}
#last3{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: black;
}
#last4{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: black;
}

#googleapp{
    display: flex;
    width: 290px;
    height: 50px;
}
#image1{
    width: 200px;
    margin-left: -30px;
    margin-top: -13px;
}
#image2{
    width: 150px;
    height: 50px;
    margin-left: -20px;
}
#socials{
    display: flex;
    width: 290px;
    height: 50px;
    overflow: hidden;
    margin-top: 5px;
}
#facebook{
    width: 40px;
    margin-right: 10px;
    height: 40px;
    margin-top: 1px;
}
#twitter{
    width: 45px;
    margin-top: 5px;
    margin-right: 10px;

}
#instagram{
    width: 40px;
    margin-top: 2px;
}

#floor{
    color: black;
    position: relative;
}
.floor-p{
    font-size: 14px;
}
.floor-anchor{
    color: black;
    text-decoration: none;
}
#tech{
    text-align: center;
}
#site{
    width: 100%;
    display: flex;
    justify-content: center;
}
#site a{
    margin: 0 10px;
}

/*=================================================*/

@media (max-width: 1400px)
{

    /*Sixth Container*/

    #subsubsix{
        display: flex;
        flex-wrap: wrap;
    }
    #last1,#last2,#last3,#last4{
        width: 50%;
    }
    #last3,#last4{
        margin-top: 20px;
    }
    .floor-pp{
        display: none;
    }
    #site{
        position: initial;
        display: flex;
    }
    #floor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*=================================================*/

@media (max-width: 815px)
{

    /*Sixth Container*/
    #sixth-container{
        padding-bottom: 20px;
        padding-top: 30px;
    }
    #subsubsix{
        display: flex;
        flex-wrap: wrap;
    }
    #last3,#last4{
        width: 100%;
        align-items: center;
    }
    #last1,#last2{
        align-items: center;
    }
}