body{
    padding: 0;
    margin: 0;
}

#firstsub-container{
    background-color: lightgrey;
    height: auto;
    padding-bottom: 5px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
}
#firstsub-paragraph{
    color: black;
    margin-top: 0;
}

#dropdowncontainer{
    display: none;
}
#firstsub-select{
    background-color: grey;
    padding: 5px;
    margin-left: 70px;
    border-radius: 5px;
    border: 1px solid black;
}

#firstsub-containersub a{
    color: black;
    margin-right: 10px;
    text-decoration: none;
}

#scope{
    background-color: grey;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid black;
}
#scope:hover{
    cursor: pointer;
    background-color: lightgrey;
}

.logo-container{
    width: 180px;
    height: 70px;
    margin-left: 40px;
    background-image: url('https://webst-images.s3.eu-north-1.amazonaws.com/Rectangle-scopeImg.jpg');
    background-position: center;
    background-size: contain;
    border-radius: 20px;
}

#home{
    width: 20px;
    margin: -5px;
}



/*==========================================================================================*/

@media (max-width: 1400px)
{
    /*First Container*/
    .logo-container{
        display: none;
    }
    #firstsub-select{
        margin-left: 0;
    }
    #paraspan{
        display: none;
    }
}

/*====================================================================================*/

@media (max-width: 815px)
{
    /*First Container*/
    #firstsub-container{
        background-color: black;
        justify-content: flex-start;
        padding-left: 10px;
        align-items: center;
    }
    
    #firstsub-containersub{
        display: flex;
        align-items: center;
    }
    .mobile-hidden{
        display: none;
    }
    #firstsub-containersub select{
        height: 30px;
        border: 1px solid black;
        border-radius: 5px;
    }

    .logo-container{
        display: block;
        width: 150px;
        height: 30px;
        position: fixed;
        right: 10px;
        margin: 0;
        background-position: center;
        background-size: cover;
    }

    #dropdowncontainer{
        position: relative;
        display: block;
    }
    .dropdown-toggle{
        display: block;
        background-color: grey;
        padding: 5px;
        border-radius: 5px;
        margin-top: 2px;
        border: 1px solid black;
        margin-right: 10px;
        font-size: 1rem;
    }

    .dropdown-menu{
        position: relative;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100vw;
        height: 100vh;
    }
    .dropdown-menu li{
        list-style: none;
    }
    .dropdown-menu a{
        color: white;
        text-decoration: none;
    }
    .dropdown-menu p{
        color: rgb(90, 38, 38);
    }

    .dropdown-toggleclose{
        display: block;
        width: 100px;
        padding: 10px;
        background-color: grey;
        color: white;
        font-size: 16px;
        border: 1px solid black;
        border-radius: 10px;
    }

    .display-drop-down-menu{
        display: flex;
    }

    .display-dropdown-toggle-and-logo{
        display: none;
    }
}